.projName {
    margin-left: 10px;
    margin-right: 10px;
}

.sponsor {
    margin-left: 10px;
    margin-right: 10px;
}

.company {
    margin-left: 10px;
    margin-right: 10px;
}

.bio {
    margin-left: 10px;
    margin-right: 10px;
}

.industry {
    margin-left: 10px;
    margin-right: 10px;
}