

.Navigation {
  justify-content: space-between;
  border: none;
  padding: 30px;
  /* background-color: red; */
  height: 605px;
  /* background-image: url(./media/OfficeBuilding.jpg);  */
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  /* background-position: 60% 65%; */
  /* background-size: cover;  */
 
  
  

}
/* .jumbo {

  float: top; 
  display: block;
  padding: 15px;
 
} */ */
/* .ticker {
  float: top;
  display: block;
  padding: 15px;
}
.ticker {
  float: top;
  display: block;
  padding: 15px;
} */
.routes {
  display: block;
}

/* .greeting {
  margin: 0 auto;
  padding-top: 50px;
  font-size: 50pt;
  font-weight: bolder;
  background:url('./media/mosaic.jpg');
    background-repeat:repeat-x;
    background-position:0 0;
    font-family:'Luckiest Guy';
    color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:0;
    -webkit-animation:BackgroundAnimated 15s linear infinite;
    -moz-animation:BackgroundAnimated 15s linear infinite;
    -ms-animation:BackgroundAnimated 15s linear infinite;
    -o-animation:BackgroundAnimated 15s linear infinite;
    animation:BackgroundAnimated 15s linear infinite;
}
@keyframes BackgroundAnimated {
  from {
      background-position:0 0
  }
  to {
      background-position:100% 0
  }
}
  @-webkit-keyframes BackgroundAnimated {
  from {
      background-position:0 0
  }
  to {
      background-position:100% 0
  }
}
  @-ms-keyframes BackgroundAnimated {<     from {
      background-position:0 0
  }
  to {
      background-position:100% 0
  }
}
  @-moz-keyframes BackgroundAnimated {
  from {
      background-position:0 0
  }
  to {
      background-position:100% 0
  }
} */

/* .header {
/* width: 100% !important;
height: 100% !important;
position: absolute !important;
z-index: 11 !important;
animation-name: keyframe_jxat2j, keyframe_15uf95s !important;
animation-duration: 800ms !important;
animation-timing-function: cupic-besier(0.04, 0.68, 0.18, 0.15), linear !Important; */


  /* font-weight: bolder;
  color: navy;
  width: 75%;
  margin: 0 auto;
  padding-top:300px;

  
  
  
} */ 


/* .searchbar{
  float: center;
  z-index: 10 !important;
  

} */
.body {
  width: 75%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  padding-top: 0px;
  position: relative;

  
  
}


/* .greeting {
  padding-bottom: 1px;
  position: relative;
  justify-content: center;
  margin: 0 auto;
} */

.keys {
 display: flex;
  padding-top: 80px; 
  margin-left: 0px;
  position: relative;

}
/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */





/* .navBar {
  justify-content: space-between;
} */

.btn1 {
  height: 50px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  /* background-color: #d62d20; */
  color: red;
  
}

.btn2 {
  height: 50px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  background-color: #d62d20;
}

.btn3 {
  height: 50px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  background-color: #d62d20;
}

.btn4 {
  height: 50px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  background-color: #d62d20;
}

.btn5 {
  height: 50px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  background-color: #d62d20;
}

.btn6 {
  height: 50px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  background-color: #d62d20;
}

.Logo {
  height: 90px;
  float: left;
  padding-top: 10px;
}



/* .header {
  background-color: red;
  height: 120px;
  background-image: url(./media/OfficeBuilding.jpg); 
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: 60% 63%;
  background-size: 100%; 
} */

.search {
  border-radius: 5px;
  background-color: #E6E6FA;
  border: none;
  height: 30px;
  width: 30%;
  margin-top: 30px;
  margin-left: 5px;
  
}

.info {
  float: right;
  /* padding-top: 40px; */
  padding-right: 10px;
  justify-content: space-between;
  font-weight: bolder;
  color: gray;
}

/* .slick-slide {
  margin: 10px 20px;
} */

 


@media(max-width: 550px) {
  .header {
    background-color: red;
    background-image: none;
    
    
   
  }
}